nav img {
  max-width: 60px; }

.section2-home img {
  height: 100%;
  padding: 2px;
  object-fit: cover; }

.section1-home {
  border: solid;
  padding: 5px;
  margin: 5px; }

.section4-home {
  border: solid;
  padding: 5px;
  margin: 5px; }

.section1-home img {
  max-width: 400px;
  object-fit: cover; }

.p {
  align-items: center;
  text-align: center; }

.p-main {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  border: 20px; }

.tit {
  color: #9c83db; }

@media screen and (min-width: 600px) {
  .main-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }
