@import "variables";
@import "media";

nav img {
    max-width: 60px;
}

.section2-home img {
    height: 100%;
    padding: 2px;
    object-fit: cover;
    border: 20px;
}
.section1-home {
    border: solid ;
    padding: 5px;
    margin: 5px;
}

.section4-home {
    border: solid ;
    padding: 5px;
    margin: 5px;
}

.section1-home img {
    max-width: 400px;
    object-fit: cover;
    border: 20px;
    
} 
.p {
    align-items: center;
    text-align: center;
}

.p-main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    position: relative;
    text-align: center;
    border: 20px;
}
.tit {
    color: rgb(156, 131, 219);
}
footer {
    background-color: black;
    height: 60px;
}
header {
    height: 60px;
}
.main-store img {
    object-fit: cover;
    max-width: 500px;
}
.nave ul {
    justify-content: center;
}
.main-about {
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
}
.main-about h2 {
    font-size: 65px;
    color: rgb(1, 40, 40);
}