@media screen and (min-width: 600px) {
    .main-home {
           display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
       }
     }
@media screen and (min-width: 600px){
  .main-store {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
  }
}